<div class="container-fluid h-100-vh">

    <div class="row h-100">

        <div class="col-md-2 p-0">

            <div class="border-1 h-100">

                <p class="left-title text-center px-3 py-4">Workers</p>

                <ul class="list-1 py-3 px-0">
                    <li *ngFor="let w of workers" class="mb-2" [ngClass]="{'selected': w.id === (selectedWorker && selectedWorker.id)}">
                        <button (click)="selectWorker(w)" class="btn-1 w-100 py-2">{{w.name}}</button>
                    </li>
                </ul>

            </div>

        </div>

        <div class="col-md-6 p-0">
            <table class="table table-bordered table-flights" *ngIf="selectedWorker">

                <thead>
                <tr>
                    <th>Flight Number</th>
                    <th>Origin</th>
                    <th>Origin Date</th>
                    <th>Destination</th>
                    <th>Destination Date</th>
                </tr>
                </thead>

                <tbody *ngIf="selectedWorkerFlights">
                <tr *ngFor="let f of selectedWorkerFlights" [ngClass]="{'selected': f.num === (selectedFlight && selectedFlight.num)}"
                    (click)="selectAFlight(f)">
                    <td>{{f.num}}</td>
                    <td>{{f.from}}</td>
                    <td>{{f.from_date}}</td>
                    <td>{{f.to}}</td>
                    <td>{{f.to_date}}</td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="col-md p-0">
            <table *ngIf="selectedFlight" class="table table-bordered table-info">
                <tbody>
                <tr>
                    <th>Plane number</th>
                    <td>{{selectedFlight.plane}}</td>
                </tr>

                <tr>
                    <th>Duration</th>
                    <td>{{selectedFlight.duration | time}}</td>
                </tr>

                <tr>
                    <th>Origin gate</th>
                    <td>{{selectedFlight.from_gate}}</td>
                </tr>

                <tr>
                    <th>Destination gate</th>
                    <td>{{selectedFlight.to_gate}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
